<!doctype html>
<html>

  <% include ./partials/_header.ejs %>

  <body>
    <% include ./partials/_mainheader.ejs %>

  <div class="body-container">

    <% include ./partials/_eventdetails.ejs %>

    <div class="slots">
      <div class="user-register">
        <form class="user-register-form" method="POST" action="/events/:id/userinfo">
          <input name="uname" type="text" placeholder="enter your name"></input>
          <input name="uemail" placeholder="enter your email" type="email"></input>
          <button class="user-register-btn">Submit</button>
        </form>
      </div>
    </div>

    <div class="container">
      <div class="row">

        <% for (let i = 0; i < data.length; i++) { %>

          <div class="col-sm uslot purpi vote<%= i %> vote" data-votetimeid='<%= data[i].time_id %>' data-votes='<%= data[i].votes %>'   data-triggered= 'false'>
            <p><%= data[i].date %></p><br>
            <p><%= data[i].proposed_start_time %> - <%= data[i].proposed_end_time %></p>
            <form class="upvote-form"></form>
          </div>
        <% } %>

      </div>
    </div>

  </div>

  <% include ./partials/_scripts.ejs %>

  </body>
</html>
