<!doctype html>
<html>

  <% include ./partials/_header.ejs %>
  <body>
    <% include ./partials/_mainheader.ejs %>

  <div class="body-container">

    <% include ./partials/_eventdetails.ejs %>

    <div class="slots">
      <div class="user-register">
        <form class="user-register-form" method="POST" action="/events/:id/vote">
          <input name="uname" type="text" placeholder="enter your name"></input>
          <input name="uemail" placeholder="enter your email" type="email"></input>
          <button class="user-register-btn">Submit</button>
        </form>
      </div>
    </div>

    <div class="container">
      <div class="row">

        <% for (let i = 0; i < data.length; i++) { %>
          <div class="col-sm uslot purpi vote<%= i %> vote" data-votetimeid='<%= data[i].time_id %>' data-votes='<%= data[i].votes %>'   data-triggered= 'false'>
            <p><%= data[i].date %></p>
            <p><%= data[i].proposed_start_time %> - <%= data[i].proposed_end_time %></p>

              <input type="text" name="voteid" value='<%= data[i].time_id %>' style="display:none"></input>
              <input type="text" name="votes" value='<%= data[i].votes %>' style="display:none"></input>

              <button>Vote</button>
              <p>Number of votes:  <%= data[i].votes %></p>
            </form>

          </div>
        <% } %>

      </div>
    </div>

  </div>

  <% include ./partials/_scripts.ejs %>

  </body>
   <script type="text/javascript" src="/scripts/user.js"></script>
   <style> div.uslot.purpi.clicked {
    background-color: green !important;
    color: black;
    opacity: 1 !important;
    border: 2px solid green;
  }</style>
</html>
