<!doctype html>
<html>

  <% include ./partials/_header.ejs %>

  <body>

    <% include ./partials/_mainheader.ejs %>
    <div class="body-container">

      <% include ./partials/_eventdetails.ejs %>

      <button class="setslots">Enter your proposed times</button><br><br>
      <div class="setslotsdiv">
        <form class="slotform" method="post" action="/events/:id/edit/"><div class="slotdiv">
          <input name="url" style="display:none" value="<%= data[0].main_url %>"></input>
          <h2>Pick potential event dates and times.</h2>
          <input id="minmax" name="slotdate" min="<%= data[0].start_date.toISOString().substring(0, 10) %>" value="<%= (new Date()).toISOString().split('T')[0] %>" type="date"></input>
          <input value="12:00" step="900" name="slothr" type="time" min="0"></input> -
          <input value="12:00" step="900" name="slothr2" type="time" min="0"></input>
          <br><br><button id="submit">Submit</button>
        </form>
      </div>

      <div class="slots">
        <div class="container">
          <div class="row">

          <% if (data.length > 1) { %>
            <% for (let i = 0; i < data.length; i++) { %>
              <div class="col-sm uslot purpi vote<%= i %> vote" data-votetimeid='<%= data[i].time_id %>' data-votes='<%= data[i].votes %>'   data-triggered= 'false'>
                <p><%= data[i].date %></p><br>
                <p><%= data[i].proposed_start_time %> - <%= data[i].proposed_end_time %></p>
                <form method="post" action="/events/:id/edit/deletetime slotdel" class="slotform">
                  <button>Delete</button>
                </form>
              </div>
            <% }; %>
          <% } %>

          </div>
        </div>
      </div>
    </div>

  <% include ./partials/_scripts.ejs %>

  </body>
</html>
