<!doctype html>
<html>

  <% include ./partials/_header.ejs %>

  <body>

    <% include ./partials/_mainheader.ejs %>
    <div class="body-container">

      <% include ./partials/_eventdetails.ejs %>

      <button class="setslots">Enter your proposed times</button><br><br>
      <div class="setslotsdiv">
        <form class="slotform" method="post" action="/events/:id/edit/"><div class="slotdiv">
          <input name="url" style="display:none" value="<%= data[0].main_url %>"></input>
          <b>From when to when?</b>
          <input id="minmax" name="slotdate" min="<%= data[0].start_date.toISOString().substring(0, 10) %>" max="<%= data[0].end_date.toISOString().substring(0, 10) %>" type="date"></input>
          <input value="12:00" step="900" name="slothr" type="time" min="0"></input> -
          <input value="12:00" step="900" name="slothr2" type="time" min="0"></input>
          <br><br><button id="submit">Submit</button>
        </form>
      </div>

      <div class="slots">
        <div class="container">
          <div class="row">


            <% for (let i = 0; i < data.length; i++) { %>
              <div class="col-sm purpi" data-votetimeid='<%= data[i].time_id %>' data-votes='<%= data[i].votes %>'   data-triggered= 'false'>
                <p><%= data[i].date %></p><br>
                <p><%= data[i].proposed_start_time %> - <%= data[i].proposed_end_time %></p>
                <form class="upvote-form"></form>
              </div>
            <% } %>
      <!--     <% for (let i = 0; i < data.length; i++) { %>
                  <div class="col-sm purpi" data-votes= "" data-triggered= false>
                    <%= data[i].proposed_start_time %> - <%= data[i].proposed_end_time %>
                    <form class="delete-form">
                      <button class="delete">Delete</button>
                    </form>
                  </div>
          <% } %> -->

          </div>
        </div>
      </div>
    </div>

  <% include ./partials/_scripts.ejs %>

  </body>
</html>
