<!doctype html>
<%= eventData.main_url%>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/event.css" type="text/css" />
<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
<script type="text/javascript" src="/scripts/adminpage.js"></script>
</head>
<body>
   <div class="left"></div>
    <div class="right"></div>
  <h1><%= eventData.event_name %></h1>
  <% console.log('jum jum', eventData.end_date.toISOString().substring(0, 10)) %>
  <button class="setslots">Enter your proposed times</button><br><br>
  <div class="setslotsdiv">


    <form class="slotform" method="post" action="/events/:id/edit/"><div class="slotdiv">
       <input name="url" style="display:none" value="<%= url %>"></input>
      <b>From when to when?</b>
      <input name="slotdate" min="<%= eventData.start_date.toISOString().substring(0, 10) %>" max="<%= eventData.end_date.toISOString().substring(0, 10) %>" type="date"></input>
      <input value="12:00" step="900" name="slothr" type="time" min="0"></input>
      <input value="12:00" step="900" name="slothr2" type="time" min="0"></input>

      <br><br><button id="submit">Submit</button>
    </form>
  </div>
  <div class="slots"><div class="container">
  <div class="row">
  </div>
</div></div></div>
<div class="eventloc">Location</div>
<div class="describer">Event Description</div>
</body>
